/* roboto-300 - latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v20-latin-300.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Light'), local('Roboto-Light'), url('../fonts/roboto-v20-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto-v20-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v20-latin-300.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto-v20-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto-v20-latin-300.svg#Roboto') format('svg');
    /* Legacy iOS */
}


/* roboto-regular - latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v20-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'), url('../fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto-v20-latin-regular.svg#Roboto') format('svg');
    /* Legacy iOS */
}


/* roboto-500 - latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v20-latin-500.eot');
    /* IE9 Compat Modes */
    src: local('Roboto Medium'), local('Roboto-Medium'), url('../fonts/roboto-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto-v20-latin-500.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto-v20-latin-500.svg#Roboto') format('svg');
    /* Legacy iOS */
}


/* quicksand-300 - latin */

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/quicksand-v21-latin-300.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/quicksand-v21-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/quicksand-v21-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/quicksand-v21-latin-300.woff') format('woff'), /* Modern Browsers */
    url('../fonts/quicksand-v21-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/quicksand-v21-latin-300.svg#Quicksand') format('svg');
    /* Legacy iOS */
}


/* quicksand-regular - latin */

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/quicksand-v21-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/quicksand-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/quicksand-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/quicksand-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/quicksand-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/quicksand-v21-latin-regular.svg#Quicksand') format('svg');
    /* Legacy iOS */
}


/* quicksand-500 - latin */

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/quicksand-v21-latin-500.eot');
    /* IE9 Compat Modes */
    src: local(''), url('../fonts/quicksand-v21-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/quicksand-v21-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/quicksand-v21-latin-500.woff') format('woff'), /* Modern Browsers */
    url('../fonts/quicksand-v21-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/quicksand-v21-latin-500.svg#Quicksand') format('svg');
    /* Legacy iOS */
}

html,
body {
    margin: 0;
    box-sizing: border-box;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


/* header atyle start */

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    min-height: 80px;
}

.logo {
    width: 26px;
    height: 26px;
    background: #5E81FE;
    border-radius: 100%;
    display: block;
}

nav {
    position: relative;
}

#hamburgMenu img {
    width: 50px;
    height: 50px;
}

.menu .none {
    display: none;
}

.menu {
    position: relative;
    list-style: none;
}

.menu li {
    display: inline-block;
}

.menu a {
    margin-left: 42px;
    font-size: 12px;
    display: block;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    color: #697CA6;
    transition: 1s;
}

.active:hover,
.active:active,
.active:focus {
    color: rgba(94, 129, 254, 1);
}

.app {
    margin-left: 33px;
}

.button-text {
    border-radius: 2px;
    display: block;
    width: 113px;
    height: 43px;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    background-color: rgba(210, 225, 255, 1);
    color: #3A79FF;
    padding-top: 13px;
    text-decoration: none
}

.none {
    display: none;
}


/* header style end */

@media screen and (max-width: 800px) {
    .menuVisible {
        display: block;
        width: 50px;
        height: 50px;
    }
    .smDisplayNone {
        display: none;
    }
    .menu li {
        display: block;
        margin-bottom: 20px;
    }
    .menu {
        position: absolute;
        top: 60px;
        left: -20px;
    }
    .menu a {
        font-size: 20px;
    }
}